*{
    box-sizing: border-box;
    list-style: none;
}
html{
    font-size: 10px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 66);
}

.sidebar{
    width: 100px;
    height: inherit;
    font-size: 2rem;
    text-align: center;
    /* position: fixed;
    left: 25rem; */
    padding-top: 100px;
}
section{
    display: flex;
    flex-direction: column;    
}
/* react에서는 Link를 a로 인식 */
a{
    font-weight: 800;
    color: black;
    text-decoration: none;
    height: 28px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
}
.active{
    color: rgb(209, 18, 18);
}